{% extends "base.html" %}

{% block title %}
Información de la página web
{% endblock title %}

{%block lista_horizontal %}
<ul class="list_horizontal">
  <li><a href="/">Inicio</a></li>
  <li><a href="/aparcamientos">Aparcamientos</a></li>
  <li style="float:right"><a  class="active" href="/about">About</a></li>
</ul>
<br>
{% endblock lista_horizontal %}




{% block texto_central %}
<div id="about">
<strong>Autor de la Práctica:&nbsp</strong> Jon Lérida García <br>
<strong>Grado:&nbsp</strong>Ingeniería en Sistemas de Telecomunicaciones <br>
Universidad Rey Juan Carlos, 2017
<br>
</div>
<div id="twitter_link">
    <a href="https://twitter.com/Leri12" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @Leri12</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
{% endblock texto_central %}
