{% extends "base.html" %}


{% block title%}
{% if not DoesNotExist %}
Información del aparcamiento {{aparcamiento_id}}
{% else %}
El Aparcamiento solicitado no existe
{% endif %}
{% endblock title %}


{%block lista_horizontal %}
<ul class="list_horizontal">
    <li><a href="/">Inicio</a></li>
    <li><a class href="/aparcamientos">Aparcamientos</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>
<br>
{% endblock lista_horizontal %}

{% block texto_central %}
{% if not DoesNotExist %}
<div id = "info_aparcamiento">
    <ul>
        <li><strong>Nombre:</strong> <span>{{aparcamiento.nombre}}</span></li>
        <li><strong>Provincia:</strong> <span>{{aparcamiento.provincia}}</span></li>
        <li> <strong>Barrio:</strong> <span>{{aparcamiento.barrio}}</span></li>
        <li><strong>Distrito:</strong> <span>{{aparcamiento.distrito}}</span></li>
        {% if aparcamiento.accesibilidad == '1' %}
            <li><strong>Accesible:</strong> <span>Si</span></li>
        {% else %}
            <li><strong>Accesible:</strong> <span>No</span></li>
        {% endif %}
        <li><strong>Código Postal:</strong> <span>{{aparcamiento.codigo_postal}}</span></li>
        <li><strong>Latitud:</strong> <span>{{aparcamiento.latitud}}</span></li>
        <li><strong>Longitud: </strong> <span>{{aparcamiento.longitud}}</span></li>
    </ul>
</div>
{% endif %}
 {% endblock texto_central %}
