{% extends "base.html" %}


{% block title %}
Info de todos los aparcamientos
{% endblock title %}


{%block lista_horizontal %}
<ul class="list_horizontal">
    <li><a href="/">Inicio</a></li>
    <li><a class="active" href="/aparcamientos">Aparcamientos</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>
<br>
<h4 style="width:50%;"> {{message}} </h4></span>
<form id="filter_form" action="" method ="POST">
    {% csrf_token %}
    <select name="filtro_name">
        <option value ="accesible">Accesible</option>
        <option value ="localidad">Localidad</option>
        <option value ="provincia">Provincia</option>
        <option value ="codigo_postal">Código Postal</option>
        <option value ="number">ID-Entidad</option>
        <option value ="barrio">Barrio</option>
        <option selected value ="distrito">Distrito</option>
    </select>
    <input type="text" name="filtro_value">
    <button type="submit">Buscar</button>
</form>
{% endblock lista_horizontal %}
{% block texto_central %}
<div id="info_aparcamiento_pequeña">
    <ul>
        {% for park in aparcamientos %}
        <li><strong>Nombre:</strong> <span>{{park.nombre}}</span><a class="enlace_decorado" href="/aparcamientos/{{park.number}}">&nbsp+ Info</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock texto_central %}
