{% load staticfiles %}
<!-- Plantilla base del sitio web. Esto tendría qe salir en todas las páginas. Banner, formulario login, barra lateral/vertical...-->
<link rel="stylesheet" type="text/css" href="{% static 'aparcamientos/style.css'%}"/>
<!DOCTYPE html>
<html>
<title>Aparcamientos</title>
<link rel="shortcut icon" href='{% static "aparcamientos/images/icono.ico" %}'/>
<head>
{% block redireccion %}{% endblock redireccion%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<img class="banner" src='{% static "aparcamientos/images/banner.jpg" %}' alt="banner">

<!--dimensiones originales de la foto son 1400x900, factor de 1.42-->
{% if user_color %}
<style>
  body{
    color: {{ user_color }};
    font-size: {{user_size}}em;
  }
</style>
{% endif %}
<!-- Formulario de Login-->

<h1>{%block title %}{% endblock title %}</h1>
<h2>{% block title2 %}{% endblock title2 %}</h2>

<!-- Aqui habria que meter un algo para que si ya está registrado, no muestre el formulario-->
<!-- Esto forma parte de la base porque lo utilizan todas-->
{% if 0 %}
    <p class="corner_message"> Hola {{user}}</p>
    <a href='admin/logout/'><button>Salir</button></a><br>
{% else %}
    <form id="login_form" action="/login" method ="POST">
        {% csrf_token %}
        <label for="nick"> Nick</label>
        <input type="text" name="nick">
        <label for="password">Contraseña</label>
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
{% endif %}


<!-- Lista horizontal-->
{% block lista_horizontal %}{% endblock lista_horizontal %}

<!--Lisa Vertical-->
<ul class="list_vertical">
    {% for user in pagina_list %}
    <li><a href="/{{user.usuario}}">{{user.nombre}}</a></li>
    {% endfor %}
</ul>

{% block texto_central %} {% endblock texto_central %}


<br><br>


<footer class="piepagina">
    <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
    <a class="piepagina" href="https://goo.gl/kfwrqc">Página al XML</a>
    <a class="piepagina" href="https://goo.gl/KesL9h">Descripción del XML</a>
</footer>


</body>
</html>
