<!-- Página Principal del sitio-->
{% extends "base.html" %}

{% block title %} Bienvenido {% endblock title %}
{% block title2 %}Encuentra todos los aparcamientos de Madrid{% endblock title2 %}


{% block texto_central %}
<h3> Aparcamientos con más comentarios:</h3>
<ul id="top_aparcamientos">
    {% for park in top_aparcamientos %}
    <li><a class="enlace_discreto" href="{{park.url}}">{{park.nombre}}: </a>
    <span class="sangrado">Dirección: {{park.distrito}}, {{park.barrio}}</span><span><a class="enlace_decorado" href="/aparcamientos/{{park.number}}"> + Info</a></span>
    </li>
    {% endfor %}
</ul>
{% endblock texto_central %}
